.settings-content {
  margin: 20px 40px;
}

.box-settings {
  width: 800px;
  margin: auto;
  width: 50%;
}
.info-settings {
  font-size: 18px;
}
.data-settings {
  color: rgb(65, 63, 63);
  font-weight: bold;
}

.data-user {
  color: rgb(65, 63, 63);
}
