.form {
  margin: 5px;
}

.search-bar{
  justify-content: center;
  }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16 px;
}

.index-filter-titles {
  color: blue;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 350px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.btn-booking{
  background-color: #0030ff;
  color: white;
  }

.btn-booking:hover {
  background-color: #3f61f7;
  color: white;
  }

.titles {
  font-size: 1.3rem;
  font-family: 'Nunito', 'Helvetica', 'sans-serif';
  font-weight: 500;
  line-height: 1;
}

.blue-titles {
  font-family: 'Otomanopee One', sans-serif; 
  color: #0030ff;
  margin-bottom: 22px;
  font-size: 2rem;
}
