<div class="container mb-5">
  <div class="d-flex justify-content-around">
    <div class="">
      <%= render 'shared/card_booking_show' %>
    </div>
  </div>
  <div class="text-center">
      <%= link_to "Back to my bookings", bookings_requested_path, class:"btn btn-primary mt-3 mb-3" %>
    </div>
</div>
<style>
.btn-primary {
    background-color: #0030FF;
}
.text-center{
  text-align: end !important
}
</style>