<div class="container">
  <h1 class="title-about mt-5 ml-3">About</h1>
  <div class="d-flex justify-content-around my-5">
<!---------------- card Rocio ---------------->
    <div class="card-about">
      <div class='about-content'>
        <div class='img-about text-center mt-5'>
          <%= image_tag 'rocio.JPG', class:'avatar-about'  %>
        </div>
        <div class='name-about'>
        <h5>
          Ro Jalifi
        </h5>
          <div class='d-flex justify-content-between'>
            <h6>
              Frontend & Backend
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/jalifirocio/" target="_blank"><i class="fab fa-linkedin color-link"></i></a>
              <a href="https://github.com/rociojalifi" target="_blank"><i class="fab fa-github color-link"></i></a>
            </p>
          </div>
      </div>
      </div>

    </div>

    <!---------------- card Egue ---------------->
     <div class="card-about">
      <div class='about-content'>
        <div class='img-about text-center mt-5'>
          <%= image_tag 'euge.JPG', class:'avatar-about'  %>
        </div>
        <div class='name-about'>
        <h5>
          Euge Amaya
        </h5>
          <div class='d-flex justify-content-between'>
            <h6>
              Frontend & Backend
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/maria-eugenia-amaya-7717163a/" target="_blank"><i class="fab fa-linkedin color-link"></i></a>
              <a href="https://github.com/EUGENIA-AMAYA" target="_blank"><i class="fab fa-github color-link"></i></a>
            </p>
          </div>
      </div>
      </div>

    </div>
    <!---------------- card Gus ---------------->

       <div class="card-about">
      <div class='about-content'>
        <div class='img-about text-center mt-5'>
          <%= image_tag 'gus.JPG', class:'avatar-about'  %>
        </div>
        <div class='name-about'>
        <h5>
          Gus Hernandez
        </h5>
          <div class='d-flex justify-content-between'>
            <h6>
              Frontend & Backend
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/gustavo-hernandez425/" target="_blank"><i class="fab fa-linkedin color-link"></i></a>
              <a href="https://github.com/gehacheese" target="_blank"><i class="fab fa-github color-link"></i></a>
            </p>
          </div>
      </div>
      </div>

    </div>

    </div>
</div>