<div class="container">
  <h1 class="title-about mt-5 ml-3">About</h1>
  <div class="d-flex justify-content-around my-5">
<!---------------- card Rocio ---------------->
    <div class="card-about">

    </div>

    <!---------------- card Egue ---------------->
    <div class="card-about">

    </div>
    <!---------------- card Gus ---------------->

    <div class="card-about">

    </div>
  </div>
</div>