 <section class= "mb-5">
  <h4 class="mt-5 ml-3">Are you a Nutritionist and want to be part of <span style="font-family: 'Otomanopee One', sans-serif; color: #0030ff">Nutrition Anywhere<span>?</h4>

  <div class="container text-center pt-3 ">
    <!-- cards produc -->
    <div class="d-flex justify-content-center">
      <!-- card produc 1 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "singup-nutri", class:"card-img-top", alt:"Third slide"%>

        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
          <p class="card-text">
            We are happy you want to be part of Nutrition Anywhere! First step is to create your account.</p>
        </div>
      </div>

      <!-- card produc 2 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "post", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Post a Service</h5>
          <p class="card-text">
            Time to post your service! After that one of our specialist will be in touch with you to certificate your knowledge.
          </p>
        </div>
      </div>

      <!-- card produc 3 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "connect", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Connect with People</h5>
          <p class="card-text">
          Your profile has been aproved! Time to start connecting with people from around the world.         </p>
        </div>
      </div>

      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "receive-feedback", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Receive feedback</h5>
          <p class="card-text">
            Be willing to receive feedback! Is the only way to know you are on the right way! Keep going!
          </p>
        </div>
      </div>
    </div>
  </section>