<div class="footer border-top">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" style="font-family: 'Otomanopee One', sans-serif; color: #0030ff">
    Nutrition <%= image_tag "logo-nutrition.png", class:"style-img"%>
 Anywhere
  </div>
</div>