<div class="footer border-top mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright footer-title">
   <%= image_tag "nutr-footer-2.png", class:"style-img"%> Nutrition Anywhere
  </div>
</div>
