<div class="container">
  <div class="footer border-top">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright footer-title">
    <%= image_tag "logo-nutrition.png", class:"style-img"%> Nutrition Anywhere
    </div>
  </div>
</div>
