<div class="body-modal">
  <button id="open" class="button-modal">
    <i id="myModal" class="fas fa-star review-stars"></i>
  </button>

  <div class="modal-container">
    <div class="modal-container">
      <div class="modal">
        <h1>
          This is a modal
        </h1>
        <button id="close">
          Close
        </button>
      </div>
    </div>
  </div>
</div>