<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://phfitnessderby.com/wp-content/uploads/2020/03/Online-nutrition-consultancy-laptop-with-plates-of-food-around-it-scaled-e1584986699240.jpeg);">
  <div class="container">
    <h1 class="pl-3 pb-3">Find a <strong>Nutritionist </strong>according to <strong>your needs</strong></h1>
    <%= link_to 'See all', services_path, class:'btn btn-navbar' %>
  </div>
</div>