<div class="container">

<%= render 'slider' %>

		<div class="works-wraper">
      <div class="container text-center pt-5">
        <h2 class="pb-3">How does it work?</h2>
  <!-- cards produc -->
      <div class="d-flex justify-content-center">
    <!-- card produc 1 -->
        <div class="card-product mr-5">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
          <div class="card-product-infos">
          <h2>1</h2>
          <p> Create an account
        </p>
        <%= link_to 'New account', new_user_session_path, class:'btn btn-navbar' %>

      </div>
    </div>

    <!-- card produc 2 -->
    <div class="card-product mr-5">
      <i class=" fa fa-mouse-pointer" aria-hidden="true"></i>
      <div class="card-product-infos">
        <h2>2</h2>
        <p>Choose a Nutritionist</p>
      </div>
    </div>

    <!-- card produc 3 -->
    <div class="card-product">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <div class="card-product-infos">
        <h2>3</h2>
        <p>Book the appointment</p>
      </div>
    </div>

    <div class="card-product mr-5">
      <i class="fa fa-comments fa fa-calendar" aria-hidden="true"></i>
      <div class="card-product-infos">
        <h2>2</h2>
        <p>Leave your feedback</p>
      </div>
    </div>
  </div>
  </div>
</div>