
.card-product-index {
  overflow: hidden;
  width: 250px;
  height: 320px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.2);
  padding: 40px;
  transition: 0.5s;
  border-radius: 5px;
  padding:20px;
}

.card-product-index:hover {
  border: 0.5px solid whitesmoke;
}

.index-card-title {
  height: 50px;
  font-family: 'Otomanopee One', sans-serif; 
  color: black;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-bottom: 20px;
}

.index-card-info {
  color: #575757ad;
  padding-top: 15px;
  flex-direction: column;
  i {
    color: #585858;
    padding-right: 15px;
    padding-bottom: 3px;
  }
  p {
    margin-bottom: 3px;
    height: 30px;
  }
}

.index-card-btn {
  height: 30px;
  padding-top: 15px;
}







.card-product i {
  color: black;
  padding-right: 10px;
  padding-bottom: 3px;
}


.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(197, 196, 196);
  display: flex;
  align-items: center;
  margin: 15px;
  height: 170px;
}

.card-info {
  height: 140px;
}


.fas {
  padding-right: 10px;
}
.far {
  padding-right: 10px;
}


.card-product h2 {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 17px;
  color: #818080;
  line-height: 1.4;
  letter-spacing: -0.015em;
  opacity: 0.9;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  height: 100%;
  padding: 16px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}


.index-card-img {
  background-image: "https://images.unsplash.com/photo-1485400031595-976c74cf4e25?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNwb3J0c3xlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60";
}

