.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(197, 196, 196);
  display: flex;
  align-items: center;
  margin: 15px;
  height: 170px;
}

.card-info {
  height: 140px;
}
.fas {
  padding-right: 10px;
}

// .card-product i {
//   position: relative;
//   height: 100%;
//   width: 120px;
//   font-size: 35px;
//   color: $orange;
//   background-color: #f4f4f4;
// }

.card-product i {
  color: black;
  padding-right: 10px;
  padding-bottom: 3px;
}


.card-product h2 {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 17px;
  color: #818080;
  line-height: 1.4;
  letter-spacing: -0.015em;
  opacity: 0.9;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  height: 100%;
  padding: 16px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
