.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #0030ff;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.15;
}
.footer .fa-heart {
  color: #0030ff;
}
