.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #0030ff;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #dee2f4;
}
.footer .fa-heart {
  color: #0030ff;
}
.footer-title {
  font-family: "Otomanopee One", sans-serif;
  color: #0030ff;
  font-size: 20px;
}
@media (max-width: 480px) {
  .footertitle {
    font-size: 14px;
  }
  .footer-img {
    display: none;
  }
}