.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.style-img {
  width: 65px;
}

.title-nav {
  font-family: "Noto Serif TC", serif;
}
.title-nav:hover {
  color: #5371f7;
}

.btn-navbar {
  background-color: #0030ff;
  border-color: #0030ff;
  color: white;
}
.btn-navbar:hover {
  background-color: #3758eb;
  border-color: #3758eb;
}
@media (max-width: 480px) {
  .navbar-lewagon {
    width: 100%;
  }
  .navbar-nav {
    margin-left: 260px;
  }
 .user-photo {
   display: none;
 }
  .title-nav {
    display: none;
  }
  .form.simple-form {
    width: 100px;
  }
  .form-inline {
    width: 100px;
  }
  .search-bar {
    width: 334px;
  }
  
}
@media (max-width: 992px) {
  .navbar-lewagon {
    
  }
}
