#title-typed-text {
  font-family: "Otomanopee One", sans-serif;
  color: #0030ff;
  margin-bottom: 22px;
  font-size: 1.4rem;
  margin-left: 29px;
}

.title-nav {
  font-family: "Otomanopee One", sans-serif;
  color: #0030ff;
}

.title-hover:hover {
  text-decoration: none;
}
