#title-typed-text {
  font-family: "Otomanopee One", sans-serif;
  color: #0030ff;
  margin-bottom: 22px;
  font-size: 1.4rem;
  margin-left: 29px;
}

.title-nav {
  font-family: "Otomanopee One", sans-serif;
  color: #0030ff;
}

.title-hover:hover {
  text-decoration: none;
}

.title-card {
  color: #386bf9;
  font-size: 18px;
}

.smaller-blue-titles {
  font-family: 'Otomanopee One', sans-serif; 
  color: #0030ff;
  margin-bottom: 22px;
  font-size: 1rem;
}

.black-medium-titles {
font-family: 'Otomanopee One', sans-serif; 
color: black;
margin: 30px;
font-size: 1.5rem;
}